{% extends 'mainapp/base.html' %}
{% block title %}/ deshboard {% endblock %}
{% block content %}


<!-- here is the item  -->
<div class="px-5 py-12 bg-gray-200 ml-56">
    <h1 class="mb-5 text-2xl text-center">My Products</h1>
    <div class=" grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2 ">
        {% for item in items %}
        <div>
            <a href="{%url 'item:detail' item.id %}">
                <div class="bg-gray-300 w-76 h-64 rounded-2xl">
                    <img class="w-full h-56 rounded-t-2xl" src="{{ item.image.url}}" alt="">
                    <div>
                        <h2 class="text-center text-xl">{{item.Name}} : {{ item.price}}</h2>
                    </div>
                </div>
            </a>
            
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}